<h3 *ngIf="!firestoreService.editingCustomer()">Добавления клиента</h3>
<h3 *ngIf="firestoreService.editingCustomer()">Редактирование клиента</h3>

<form (ngSubmit)="onSubmit()" [formGroup]="form">

  <div class="mb-3">
    <label class="form-label" for="name">{{ formLabels.name }}</label>
    <input class="form-control" formControlName="name" id="name" placeholder="{{formPlaceholders.name}}" type="text">
  </div>

  <div class="mb-3">
    <label class="form-label" for="email">{{ formLabels.email }}</label>
    <input class="form-control" formControlName="email" id="email" placeholder="{{formPlaceholders.email}}" type="email">
  </div>

  <div class="mb-3">
    <label class="form-label" for="mobile">{{ formLabels.mobile }}</label>
    <input class="form-control" formControlName="mobile" id="mobile" placeholder="{{formPlaceholders.mobile}}" type="text">
  </div>

  <div class="mb-3">
    <label class="form-label" for="location">{{ formLabels.location }}</label>
    <input class="form-control" formControlName="location" id="location" placeholder="{{formPlaceholders.location}}" type="text">
  </div>

  <div class="mb-3">
    <button class="btn btn-info" type="submit">
      {{ firestoreService.editingCustomer() ? 'Обновить клиента' : 'Добавить клиента' }}
    </button>
    <button (click)="cancelEditing()" *ngIf="firestoreService.editingCustomer()" class="btn btn-secondary ms-2" type="button">
      Отмена
    </button>
  </div>

</form>
