<form (ngSubmit)="onSubmit()" [formGroup]="form">
  <div *ngFor="let field of formFields" class="mb-3">
    <label [for]="field.name" class="form-label">{{ field.label }}</label>
    <input
      (blur)="setValidationMessage(field.name)"
      [formControlName]="field.name"
      [id]="field.name"
      [ngClass]="{
        'is-valid': getFormControl(field.name)?.valid,
        'is-invalid': getFormControl(field.name)?.invalid &&
                      (getFormControl(field.name)?.dirty || getFormControl(field.name)?.touched)
      }"
      [placeholder]="field.placeholder"
      [type]="field.type"
      class="form-control"
    />
    <div *ngIf="validationMessages()[field.name]" class="invalid-feedback">
      {{ validationMessages()[field.name] }}
    </div>
  </div>

  <div class="d-flex flex-column flex-md-row gap-3 mb-3">
    <button class="btn btn-info w-100" type="submit">
      {{ firestoreService.editingCustomer() ? 'Обновить клиента' : 'Добавить клиента' }}
    </button>
    <button
      (click)="cancelEditing()"
      *ngIf="firestoreService.editingCustomer()"
      class="btn btn-secondary w-100"
      type="button"
    >
      Отмена
    </button>
  </div>
</form>
