<form (ngSubmit)="onSubmit()" [formGroup]="customerForm">
  <div *ngFor="let field of formFields" class="mb-3">
    <label [for]="field.name" class="form-label">{{ field.label }}</label>
    <input (blur)="setValidationMessage(field.name)"
           [formControlName]="field.name" [id]="field.name"
           [ngClass]="{'is-valid':   form(field.name)?.valid,
                       'is-invalid': form(field.name)?.invalid &&(form(field.name)?.dirty || form(field.name)?.touched)}"
           [placeholder]="field.placeholder" [type]="field.type" class="form-control"/>
    <div *ngIf="form(field.name)?.valid" class="valid-feedback">Принято!</div>
    <div *ngIf="validationMessages()[field.name]" class="invalid-feedback">
      {{ validationMessages()[field.name] }}
    </div>
  </div>

  <div class="d-flex flex-column flex-md-row gap-3 mb-3">
    <button class="btn btn-info w-100" type="submit">
      {{ firestoreService.editingCustomer() ? 'Обновить клиента' : 'Добавить клиента' }}
    </button>
    <button (click)="cancelEditing()" *ngIf="firestoreService.editingCustomer()" class="btn btn-secondary w-100" type="button">
      Отменить
    </button>
  </div>
</form>
