<h3>Список всех клиентов</h3>

<table class="table table-striped table-hover">

  <ng-container *ngTemplateOutlet="tHeadBlock"></ng-container>

  <tbody class="table-group-divider">
  <tr *ngFor="let customer of firestoreService.customersList() let i = index">
    <th class="align-middle" scope="row">{{ i + 1 }}</th>
    <ng-container *ngTemplateOutlet="tBodyBlock; context: {$implicit: customer}"></ng-container>
    <ng-container *ngTemplateOutlet="controlsBlock; context: {$implicit: customer}"></ng-container>
  </tr>
  </tbody>
</table>

<ng-template #tHeadBlock>
  <thead class="table-light">
  <tr>
    <th scope="col">#</th>
    <th scope="col">Имя</th>
    <th scope="col">Email</th>
    <th scope="col">Телефон</th>
    <th scope="col">Город</th>
    <th scope="col">Добавлен</th>
    <th scope="col">Управление</th>
  </tr>
  </thead>
</ng-template>

<ng-template #tBodyBlock let-customer>
  <td class="align-middle">{{ customer.name }}</td>
  <td class="align-middle">{{ customer.email }}</td>
  <td class="align-middle">{{ customer.mobile }}</td>
  <td class="align-middle">{{ customer.location }}</td>
  <td class="align-middle">{{ customer.createdAt | date: 'dd.MM.yyyy HH:mm:ss' }}</td>
</ng-template>

<ng-template #controlsBlock let-customer>
  <td class="controls align-middle">
    <button (click)="editCustomer(customer, customer.id)"
            class="btn btn-success btn-sm ms-1"><i class="fa-solid fa-user-pen"></i></button>
    <button (click)="deleteCustomer(customer.id)"
            class="btn btn-danger btn-sm ms-1"><i class="fa-solid fa-delete-left"></i></button>
  </td>
</ng-template>
